body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  width: 30vw;      
  height: auto;
  object-fit: cover;
  transform: rotate(4deg);
}

@media (max-width: 600px) {
  .profile {
    width: 50vw; 
    transform: rotate(4deg);
  }
}
  
