
/*body*/

#body, #body-blog {
  background-color: #f9faff; 
  font-family: helvetica-neue-lt-pro, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  font-style: normal;
  padding-top: 0; 
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  height: 100%;
  box-sizing: border-box;
}

/*header*/
.header-wrapper {
  position: sticky;
  top:0;
  left:0;
  display: flex;
  padding-top: 0.25rem;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;    
  color: rgb(0, 0, 0);
  line-height: 1.2rem;
  gap:2rem;
}

hr.line {
  border-top: 1px dotted #000;
  width: 100%;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: #f9faff; /* 원하는 배경색 */
}

a:hover{
  text-decoration: underline;
}

.link.active {
  font-weight: bold;
}
/*main*/

#main {
  display: grid;
  padding-top: 5px;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.section{
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:2rem;
  padding-bottom: 0.75rem;
}

.content-1 {
    display: grid;  
    grid-column: span 12;
    grid-template-columns: repeat(6, 1fr);  
    position:sticky;
}

.container{
  display: grid;  
  grid-column: span 12;
  grid-template-columns: repeat(6, 1fr);  
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  line-height: 1.2rem;
}

.content-about {  
  display: grid;  
  grid-column: span 12;
  grid-template-columns: repeat(6, 1fr); 
  display: flex;
  flex-direction: column; 
}

.about-info {
  line-height: 1.2rem;
}

.title {
  font-style: italic;
  display: inline;     /* 글자 크기에 맞는 박스 */
  background-color: #f9faff;  /* 원하는 배경색 */
}

.quotation, .source {
  display: inline;     /* 글자 크기에 맞는 박스 */
}

.description-kr {
  display: grid;  
  grid-column: span 6;
  grid-template-columns: repeat(2, 1fr);  
}

/*.description [lang="kr"] {
  font-size: 0.7rem;
  line-height: 1rem;
  color: rgb(172, 172, 172);
}*/

.description [lang="en"] {
  line-height: 1.4rem;
  font-size: 1rem;
  background-color: #f9faff; /* 원하는 배경색 */
  display: inline; /* 텍스트 영역에만 배경 적용 */
}

.content-1-l{
  display: flex;  
  grid-column: span 3;
}

.content-1-r{
  display: flex;  
  grid-column: span 3;   
  justify-content: space-between;
  padding-right: 1rem;
}

.blog-text{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

.quotation{
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.scroll-container .image {
  flex: 0 0 auto; 
}

.scroll-container .image img {
  display: block;
  width: 100%;     /* 칸 너비에 맞게 */
  height: auto;    /* 비율 유지 */
}


.work-1-cover .image img {
  display: block;
  width: 100%;     /* 칸 너비에 맞게 */
}

.image-vertical {
  grid-column: span 1; /* 기본 */
  justify-self: center; /* 가운데 정렬 */
}

.image-vertical img {
  height: 75vh;    /* 비율 유지 */
  width: auto;     /* 비율 유지 위해 가로는 자동 */
  object-fit: cover; /* (선택) 이미지가 찌그러지지 않게 */
}

.source{
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.quotation{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
}

@media (max-width: 600px) {

  .content-1 {
    display: flex;
    flex-direction: column; /* 세로 쌓기 */
  }

  .content-about {  
    grid-column: span 12;
    word-break:keep-all;
  }  

  .title {
    font-style: italic;
    display: inline;     /* 글자 크기에 맞는 박스 */
    background-color: #f9faff;  /* 원하는 배경색 */
  }
  
  .content-blank{
    grid-column: span 2;
  }
  .content-about{
      grid-column: span 8;
  }

  .about-flex {
  display: flex;
  gap:3rem;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh; 
}

  .scroll-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3열 배치 */
    gap: 10px;
  
    padding: 10px;
  }

  .scroll-container .image img {
    display: block;    /* 여백 제거 */
    height: auto;      /* 비율 유지 */
  }
  

}