@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Lt.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'BookkMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

#body {
  background-color: #f9faff; 
  font-family: "minion-pro", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  padding-top: 0;   /* 위쪽 패딩만 0 */
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  height: 100%;
  box-sizing: border-box;
}

.header-wrapper {
  position: sticky;
  top:0;
  left:0;
  display: flex;
  padding-top: 0.25rem;
  z-index: 100;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;    
  color: rgb(0, 0, 0);
}

.header-1, .header-2 {
  flex: 1;
}

.header-1 {
  display: flex;
  flex-direction: row;
}

.name, .blog {
  flex:1;
}

.header-2 {
  display: flex;
  flex-direction: row;
}

.index-about, .contact {
  flex:1;
}

a{
  text-decoration: none;
  color: inherit;
  background-color: #f9faff; /* 원하는 배경색 */
}

a:hover{
  /*text-decoration: underline;*/
  color: #dbdde3;
}

#main {
  display: grid;
  padding-top: 5px;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.section{
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:3px;
  padding-bottom: 0.75rem;
}

.container {
  display:grid;
  grid-column: span 12;
  position: relative;
}

.info-container {
  position: sticky;
  top: 20px; /* 상단에서 20px 떨어진 위치에 고정 */
  align-self: flex-start; /* flexbox 사용시 */
}

.content-1-2 {
    display: grid;  
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 1.5rem;
    align-items: flex-start;  
    position: relative;
}

.content-1 {
    display: grid;  
    grid-column: span 6;
    grid-template-columns: repeat(6, 1fr);  
    position:sticky;
}

.content-2 {  
    grid-column: span 6;
    word-break:keep-all;;
}

.content-blank {
    display: grid;  
    grid-column: span 4;
    grid-template-columns: repeat(6, 1fr);  
}

.content-about {  
  grid-column: span 4;
  word-break:keep-all;
}

.about-flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh; 
}

.about-info{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  font-style: italic;
  display: inline;     /* 글자 크기에 맞는 박스 */
  background-color: #f9faff;  /* 원하는 배경색 */
}

.description-kr {
  display: grid;  
  grid-column: span 6;
  grid-template-columns: repeat(2, 1fr);  
}

/*.description [lang="kr"] {
  font-size: 0.7rem;
  line-height: 1rem;
  color: rgb(172, 172, 172);
}*/

.description [lang="en"] {
  line-height: 1.3rem;
  font-size: 1rem;
  background-color: #f9faff; /* 원하는 배경색 */
  display: inline; /* 텍스트 영역에만 배경 적용 */
}

.content-1-l{
  display: flex;  
  grid-column: span 3;
}

.content-1-r{
  display: flex;  
  grid-column: span 3;   
  justify-content: space-between;
  padding-right: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.about-kr{
  font-family: "BookkMyungjo";
  font-weight: 700;
  letter-spacing: 0.01em;
  font-size: 0.9rem;
  line-height: 1.55rem;
  display: flex;
  flex-direction: column;
}

.about-en{
  line-height: 1.35rem;
  letter-spacing: 0.005em;
}

.about-edu{
    line-height: 1.35rem
}

.about-sns{
  display: flex;
  flex-direction: column;
  gap:0.25rem;
}

.scroll-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 배치 */
  gap: 20px;
  padding: 10px;
}

.scroll-container .image {
  flex: 0 0 auto; 
}

.scroll-container .image img {
  display: block;
  width: 100%;     /* 칸 너비에 맞게 */
  height: auto;    /* 비율 유지 */
}

.work-1-cover{
  display: grid;
  grid-template-columns: repeat(1, 1fr 0.5fr 1fr); /* 3열 배치 */
  padding-left: 200px;
  padding-right: 200px;
}

.work-1-cover .image img {
  display: block;
  width: 100%;     /* 칸 너비에 맞게 */
  height: 75vh;    /* 비율 유지 */
}

.image-vertical {
  grid-column: span 1; /* 기본 */
  justify-self: center; /* 가운데 정렬 */
}

.image-vertical img {
  height: 75vh;    /* 비율 유지 */
  width: auto;     /* 비율 유지 위해 가로는 자동 */
  object-fit: cover; /* (선택) 이미지가 찌그러지지 않게 */
}

@media (max-width: 600px) {

  .content-1 {
    display: flex;
    flex-direction: column; /* 세로 쌓기 */
  }

  .content-about {  
    grid-column: span 12;
    word-break:keep-all;
  }  

  .title {
    font-style: italic;
    display: inline;     /* 글자 크기에 맞는 박스 */
    background-color: #f9faff;  /* 원하는 배경색 */
  }
  
  .content-blank{
    grid-column: span 2;
  }
  .content-about{
      grid-column: span 8;
  }

  .about-flex {
  display: flex;
  gap:3rem;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh; 
}

  .scroll-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3열 배치 */
    gap: 10px;
  
    padding: 10px;
  }

  .scroll-container .image img {
    display: block;    /* 여백 제거 */
    height: auto;      /* 비율 유지 */
  }
  

}